.App {
  /*background-color: #000012;*/
  background: linear-gradient(to bottom, #000012, #000022);
  min-height: 1000px;
  width: 100%;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/



/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*}*/
