.App {
  background: linear-gradient(to bottom, #000012, #000022);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  @keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  .star {
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: twinkle 3s linear infinite;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 4px;
      background-color: rgba(255, 255, 255, 1);
    }

    &::before {
      top: -1px;
      left: 1px;
    }

    &::after {
      top: -1px;
      left: 1px;
      transform: rotate(45deg);
    }
  }

  @for $i from 1 through 200 {
    $top: random(100) + vw;
    $left: random(100) + vw;
    $size: random(3) + 1;

    .star-#{$i} {
      width: #{$size}px;
      height: #{$size}px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: #{$top};
      left: #{$left};
    }
  }
}





